<app-header titulo="Actualizar Tarea"></app-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onSubmitact()">
    <ion-list-header>
      <ion-label >Registrar Tarea</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Tarea</ion-label>
      <ion-input name=titulo
                  [(ngModel)]="Tarea.titulo">

      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">subtitulo</ion-label>
      <ion-input  name="subtitulo"
                  [(ngModel)]="Tarea.subtitulo"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">
      Actualizar
    </ion-button>
  </form>
</ion-content>
